@import "tailwindcss";

html,
body,
#root {
  margin: 0 !important;
  padding: 0 !important;
  background-color: black;
  min-height: 100%;
}

#root {
  width: 100%;
  min-height: 100svh;
}

a {
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

body {
  font-family: 'Special Elite', sans-serif;
}
